<h1>Edit Checked Items</h1>

<%= form_tag update_multiple_list_items_path, method: :put do %>
	
	<% @items.each do |item| %>
		
		<%= fields_for "items[]", item do |f| %>
		
		<h2><%= item.name %></h2>
		
			<div class="field">
				<%= f.label :name %><br>
				<%= f.text_field :name %>
			</div>
			<div class="field">
				<%= f.label :price %><br>
				<%= f.text_field :price %>
			</div>
			<div class="field">
				<%= f.label :quantity %><br>
				<%= f.number_field :quantity %>
			</div>
			<div class="field">
				<%= f.label :purchased %><br>
				<%= f.check_box :purchased %>
			</div>

		<% end %>
	<% end %>

		<div class="actions">
			<%= submit_tag "Update" %>
		</div>
<% end %>