<h1><%= @item.name %></h1>

<p><%= number_to_currency @item.price %></p>
<p><%= @item.location %></p>
<p><%= @item.quantity %></p>
<p><%= @item.brand %></p>

<%= link_to "Back to List", list_path(@list) %>